html{scroll-behavior: smooth;}

body{background:linear-gradient(30deg, crimson,sienna, royalblue, indianred, purple);}

menu{width: 900x;
     height: 900px;
     margin: auto;}

nav{text-align: right;}

a{font-family: Georgia;
   font-style:oblique;
   background-color: rgb(143, 168, 147);
   color: hwb(60 0% 93%);
   padding: 5px;
   margin-top:10px;
   text-decoration: none;
   padding: 5px;
   transition: 0,5s all;
   border-radius: 20px;
   border:2px black solid;
   text-shadow: rgba(0, 0, 0, 0.144);}
 
 a:hover {background-color:black ;
          color:wheat;
          border:5px blue solid ;
          border-radius: 30px;
          transition: 0,5s all;
 }
 
 a:active {color: rgb(0, 140, 255);}
 
 a:visited {color:white;}
 
 a:focus-visible {color:black}

h1{color:rgb(19, 18, 15);
   text-align:center;
   font-size:10vh;
   font-family:Retrow Mentho Italic;
   margin-top: 10px;}

footer{text-align:"center";
       padding: 10px;
       border-color: blue;
       border-style:double;
       margin-bottom: 30px;
       text-align: center;border-radius: 80px;}  

.pñ{position: fixed;
    top:30px;
    left:1000px;
    display:inline-flex}

.ño{border:solid rgb(50, 42, 165);
    border-radius:22px; 
    color:rgb(255, 200, 0);
    font-size: medium;}

.o{text-align: left;
   color:yellow;
   font-size: large;}

.r{display:inline-block;
   margin-right:40px;
   border:coral double;
   width: 400px;height: 400px;
   height:350px ;}

.ñ{margin-left: 40px;
   border:coral double;
   width: 400px ;
   height: 350px;}

.ya{margin-top: 10px;
    text-align: center;}

.zt{width: 900px;
    height: 650px}
